<div class="business_content">
  <%= link_to "費用について", contact_path, class: "btn btn-rounded mx-0 business_link1" %>
  <%= link_to "よくある質問", contact_path, class: "btn btn-rounded mx-0 business_link2" %>
</div>

