<div class="container z-depth-1">
  <!--Section: Content-->
  <section class="dark-grey-text">

    <div class="row pr-lg-5">
      <div class="col-md-7 mb-4">

        <div class="view">
          <img src="https://mdbootstrap.com/img/illustrations/graphics(4).png" class="img-fluid" alt="smaple image">
        </div>

      </div>
      <div class="col-md-5 d-flex align-items-center">
        <div>
          <h3 class="font-weight-bold mb-4">会社概要</h3>

          <p class="font-weight-bold">事務所名</p>
          <p>田中公認会計士税理士事務所</p>
          <hr>
          <p class="font-weight-bold">所在地</p>
          <p>東京都港区西新橋2-5-1山引ビル3F</p>
          <hr>
          <p class="font-weight-bold">連絡先</p>
          <p>03-3504-0106</p>
          <p>info@tanaka-accounting.jp</p>
          <hr>
          <p class="font-weight-bold">Facebook</p>
          <hr>

          <%= link_to "お問い合わせはこちら", contact_path, class: "btn btn-orange btn-rounded mx-0" %>

        </div>
      </div>
    </div>

  </section>
  <!--Section: Content-->
</div>