<div class="greeting_content">
  <%= link_to "プロフィール", contact_path, class: "btn btn-rounded mx-0 greeting_link1" %>
  <%= link_to "事業内容", contact_path, class: "btn btn-rounded mx-0 greeting_link2" %>
</div>

