<div class="container support_for_venture_wrap">
  <section class="dark-grey-text">
    <div class="container-fluid max-width">
      <div class="d-flex align-items-center">
        <div class="container">
          <h1 class="font-weight-bold">ベンチャー企業支援について</h3>
          <p>以下の条件を満たす企業について会社設立時からビジネスが軌道にのるまで、無料で会計・税務だけではなく、会社の運営の仕方やビジネスで必須の管理的な知識について無料で何回でも相談を受けたいと思います。</p>
          <ul class="li">
            <li>社長が30歳未満</li>
            <li>インターネットサービス業</li>
          </ul>
          <p>この支援は、プロボノの一つとして考えています。プロボノとは、専門家がその知識・スキルや経験を生かして社会貢献するというボランティアです。海外や日本の仕業でも弁護士などは行われていると聞きますが、残念ながら私が属している会計業界では十分ではありません。</p>
          <p>また、今後日本が持続的な発展をするためには、ベンチャー企業の存在が欠かせないと思います。また、そのベンチャー企業は若い経営者の思想から生まれるのではないかと思っています。また、インターネットビジネスは他のビジネスに比べて初期投資が相対的に少なく、参入しやすい業種であり、その可能性は大きいという認識を持っています。</p>
          <p>そのため、社長が30歳未満で、インターネットサービス業であるという条件下ではありますが、専門家として何かお手伝いできないかという意識でこの支援を始めました。 学生の方で就職に有利になるからベンチャーをやっていますという起業家ではなく、人生フルコミットしているような若手起業家との出会いを楽しみにしています。</p>
          <p>なお、所長である私本人が知識・スキルの出し惜しみのない支援をさせて頂きますので、ご依頼を頂きましてもそのときの支援状況に応じては、お待ちいただいたりすることもあるかと思いますが、何卒ご理解をお願い致します。</p>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>