<div class="container mt-5">

  <!--Section: Content-->
  <section class="dark-grey-text mb-5">
    
    <style>
      .map-container-section {
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
      }
      .map-container-section iframe {
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
      }
    </style>

    <!-- Section heading -->
    <h3 class="font-weight-bold text-center mb-4">お問い合わせ</h3>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto pb-5">業務内容に関するお問い合わせはこちらからお願いいたします。</p>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-5 mb-lg-0 pb-lg-3 mb-4">

        <!-- Form with header -->
        <div class="card">
          <div class="card-body">
            <!-- Header -->
            <div class="form-header blue accent-1">
              <h3 class="mt-2"><i class="fas fa-envelope"></i> メッセージ</h3>
            </div>
            <p class="dark-grey-text">なんかかく</p>
            <!-- Body -->
            <div class="md-form">
              <i class="fas fa-user prefix grey-text"></i>
              <input type="text" id="form-name" class="form-control">
              <label for="form-name">お名前</label>
            </div>
            <div class="md-form">
              <i class="fas fa-envelope prefix grey-text"></i>
              <input type="text" id="form-email" class="form-control">
              <label for="form-email">メールアドレス</label>
            </div>
            <div class="md-form">
              <i class="fas fa-tag prefix grey-text"></i>
              <input type="text" id="form-Subject" class="form-control">
              <label for="form-Subject">件名</label>
            </div>
            <div class="md-form">
              <i class="fas fa-pencil-alt prefix grey-text"></i>
              <textarea id="form-text" class="form-control md-textarea" rows="3"></textarea>
              <label for="form-text">本文</label>
            </div>
            <div class="text-center">
              <button class="btn btn-light-blue">送信</button>
            </div>
          </div>
        </div>
        <!-- Form with header -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-7">

        <!--Google map-->
        <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 400px">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.395649004936!2d139.75064085108085!3d35.66725878010034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188becaeea9871%3A0xacbe974f4df533d7!2z44CSMTA1LTAwMDMg5p2x5Lqs6YO95riv5Yy66KW_5paw5qmL77yS5LiB55uu77yVIOWxseW8leODk-ODqw!5e0!3m2!1sja!2sjp!4v1457082885289" frameborder="0"
            style="border:0" allowfullscreen></iframe>
        </div>
        <!-- Buttons-->
        <div class="row text-center">
          <div class="col-md-4">
            <a class="btn-floating blue accent-1">
              <i class="fas fa-map-marker-alt"></i>
            </a>
            <p class="mb-md-0">〒105-0003<br>東京都港区西新橋2-5-1<br>山引ビル3F</p>
          </div>
          <div class="col-md-4">
            <a class="btn-floating blue accent-1">
              <i class="fas fa-phone"></i>
            </a>
            
            <p class="mb-md-0">03-3504-0106</p>
          </div>
          <div class="col-md-4">
            <a class="btn-floating blue accent-1">
              <i class="fas fa-envelope"></i>
            </a>
            
            <p class="mb-0">info@tanaka-accounting.jp</p>
          </div>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->
<br>
</div>