<h1>ここはトップページです</h1>
<button type="button" class="btn btn-primary animated bounce">Primary</button>

  <section class="box box1" id="section1"></section>
  <section class="box box2" id="section2"></section>
  <section class="box box3" id="section3"></section>
  <section class="box box4" id="section4"></section>
  <section class="box box5" id="section5"></section>
  <section class="box box6" id="section6"></section>