// ===========================
// section
// ------------------------------
.section {
  width: 100%;
}
.section-content {
  text-align: center;
}

.section1{
  background-image: url("/images/toppage_img1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  // overflow: hidden;
  z-index: -999;
}
.section1_header__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-image: linear-gradient(#9437FF, #7A81FF);
  background-image: url("/images/toppage_img2.jpg");
  background-size: cover;
  background-position: center;
  transform: skewY(-30deg);
  transform-origin: top left;
  z-index: -999;
}

.section2{
  background-image: url("/images/toppage_img3.jpg");
  background-size: cover;
  background-position: center;
}

.test3{
  background-image: url("/images/toppage_img3.jpg");
  background-size: cover;
  background-position: center;
}

h2 {
  color: #232323;
  &:first-child {
    margin-top: 0;
  }
}

h3 {
  color: #232323;
}

p {
  color: #232323;
}

.section-red {
  background-color: #ff6363;
}

.section-blue {
  background-color: #8fbbff;
}

.section-green {
  background-color: #fff;
}

.pagenation{
  padding: 20px;
  position: fixed;
  right: 0;
  top: 50%;
}
.pagenation li{
  list-style-type: none;
  margin-bottom: 20px;
}
.pagenation a{
  display: block;
  height: 10px;
  border: 1px solid #000;
  width: 10px;
}
.pagenation a.active{
  background: #000;
}