// *{
// 	box-sizing: border-box;
// 	margin: 0;
// 	padding: 0;
// }

h1{
  color: red;
}
.box{
	width: 100%;
	min-height: 100vh;
	color: rgb(175, 107, 107);
	padding: 40px;
}

.box1{
	background: rgb(80, 71, 72);
	position: relative;
	// background: url(../../img/toppage_img1.jpg) center / cover;
}

.box2{
	background: #4CA4CF;
	position: relative;
	// background: url(../../img/toppage_img2.jpg) center / cover;
}

.box3{
	background: #e5cf54;
	position: relative;
	// background: url(../../img/toppage_img3.jpg) center / cover;
}

.box4{
	background: #45CB99;
}

.box5{
	background: rgb(207, 76, 152);
}

.box6{
	background: rgb(27, 76, 152);
}

.pagenation{
	padding: 20px;
	position: fixed;
	right: 0;
	top: 40%;
}
.pagenation li{
	list-style-type: none;
	margin-bottom: 20px;
}
.pagenation a{
	display: block;
	height: 10px;
  border: 1px solid #000;
  border-radius: 1rem;
	width: 10px;
}
.pagenation a.active{
	background: rgb(121, 18, 218);
}
